.section {
    padding: 24px 0;
    @media screen and (min-width: var(--bp-tablet)) {
        padding: 48px 0;
    }
}
.section-title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.3;
    
    
    @media screen and (min-width: var(--bp-tablet)) {
        
    font-size: 64px;
    line-height: 1.3;
    }    
}
.section-title.centered {
    text-align: center;
}
.section-title .accent {
    color: var(--color-brand-dark);
}
