
*
*::after,
*::before {
    box-sizing: border-box;
}
.ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.address-link {
    font-style: normal;
}
.body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: 'rockwell', sans-serif ;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    @media screen and (min-width: var(--bp-tablet)) {
        font-size: 18px;
        font-weight: 400;
    }    
}
.h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}
.a {
    display: inline-block;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}
.address {
    font-style: normal;
}
.ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

