
.hero-section {
    padding: 124px 0;
    background-image: linear-gradient(
    102.76deg, 
    rgba(18, 18, 17, 0.78) 2.03%, 
    rgba(18, 18, 17, 0.6) 58.46%, 
    rgba(18, 18, 17, 0) 90.36%),     
    url('../images/couple-in-bekery.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    @media screen and (mim-width: var(--bp-dekstop)) {
        padding: 272px ;
    }
    @media screen and (min-device-pixel-ration: 2),
    
    (min-resolution: 192dpi),
    (min-resolution: 24px) {
         
        
    background-image: linear-gradient(
        102.76deg, 
        rgba(18, 18, 17, 0.78) 2.03%, 
        rgba(18, 18, 17, 0.6) 58.46%, 
        rgba(18, 18, 17, 0) 90.36%),     
        url('../images/couple-in-bekery@2.jpg');
    }
}

.hero__title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 68px;
    line-height: 1;
    font-weight: 900;
    @media screen and(mim-width: var(--bp-dekstop)) {
        font-size: 128px;
        font-weight: 900;
        line-height: 1,5;
    }
}
.hero-title .accent {
    color: var(--color-brand-normal);
}

.accent {
    color: var(--color-brand-normal);
}

.hero-button {
    display: block;
    margin: 0 auto;
    @media screen and (mim-width: var(--bp-dekstop)) {
        display: none;
    }
}